<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>defaultColor</key>
	<string>White</string>
	<key>storageProviderArtwork</key>
	<dict>
		<key>Box</key>
		<string>Box.png</string>
		<key>Amazon S3</key>
		<string>Amazon.png</string>
		<key>SFTP</key>
		<string>SFTP.png</string>
		<key>Sharepoint</key>
		<string>Sharepoint.png</string>
		<key>FTP</key>
		<string>FTP.png</string>
		<key>Dropbox</key>
		<string>Dropbox.png</string>
		<key>Google Docs</key>
		<string>Google.png</string>
		<key>Samba</key>
		<string>Samba.png</string>
	</dict>
	<key>colorsList</key>
	<array>
		<dict>
			<key>ColorName</key>
			<string>White</string>
			<key>ColorArt</key>
			<string>colorWhite.png</string>
			<key>ColorNSColor</key>
			<string>whiteColor</string>
			<key>ColorCode</key>
			<string></string>
		</dict>
		<dict>
			<key>ColorName</key>
			<string>Blue</string>
			<key>ColorArt</key>
			<string>colorBlue.png</string>
			<key>ColorNSColor</key>
			<string>blueColor</string>
			<key>ColorCode</key>
			<string></string>
		</dict>
		<dict>
			<key>ColorName</key>
			<string>Green</string>
			<key>ColorArt</key>
			<string>colorGreen.png</string>
			<key>ColorNSColor</key>
			<string>greenColor</string>
			<key>ColorCode</key>
			<string></string>
		</dict>
		<dict>
			<key>ColorName</key>
			<string>Red</string>
			<key>ColorArt</key>
			<string>colorRed.png</string>
			<key>ColorNSColor</key>
			<string>redColor</string>
			<key>ColorCode</key>
			<string></string>
		</dict>
		<dict>
			<key>ColorName</key>
			<string>Yellow</string>
			<key>ColorArt</key>
			<string>colorYellow.png</string>
			<key>ColorNSColor</key>
			<string>yellowColor</string>
			<key>ColorCode</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
